*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: rgb(106, 107, 107);
    display:flex;
    align-items:center;
    justify-content:center;


}

.calculator{
    height:500px;
    width:400px;
    color:white;
    border:2px solid balck;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgb(41, 39, 39);
    background-color: rgb(46, 39, 39);
    margin-top:80px;
}

button{
    color:white;
    border-radius:50%;
    background-color: black;
    height:60px;
    width:60px;
    margin:10px;
}

#input{
    height:60px;
    margin:10px;
    width:90%;
    background-color: grey;
    font-size: 20px;
    color:black;
}

.sbtn{
    color:rgb(16, 107, 129);
    font-size:15px;
}